<main><%= pageTitle %></main>
<h1><%=book.name%></h1>
<div>
  <p><strong>Author: </strong></p>
  <%=book.author%>
</div>
<div>
  <p><strong>Summary</strong></p>
  <p><%=book.summary%></p>
</div>
